# Binaries
*.exe
*.dll
*.so
*.dylib
audio-sync

# Test binary
*.test

# Output of go coverage tool
*.out

# Dependency directories
vendor/

# Config file (use config.example.yaml as template)
config/config.yaml
